In [1]:
# Se importan las librerías necerias
import numpy as np
import pandas as pd

## Se establecen las rutas de los Data Set

In [2]:
ruta_homicios_hechos = 'E:\\AAADATOS\\Henry\\AA_Data_Science\\MATERIAL_PI_02\\Data\\homicidios_hechos.csv'
ruta_homicios_victimas = 'E:\\AAADATOS\\Henry\\AA_Data_Science\\MATERIAL_PI_02\\Data\\homicidios.xlsx'
ruta_lesiones= 'E:\\AAADATOS\\Henry\\AA_Data_Science\\MATERIAL_PI_02\\Data\\lesiones.xlsx'

In [3]:
# Se cambia la cantidad de columnas que se pueden visualizar del Data Frame
pd.options.display.max_columns = 30

# Se importan los Data Sets

## Data Set de homicidios

### Data Set homicidios_HECHOS

In [40]:
# Se lee el Data Set
df_hom_hechos =pd.read_csv(ruta_homicios_hechos, encoding='latin-1', sep=';', lineterminator='\n')

In [41]:
# Se visualiza el Data Frame
df_hom_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO\r
0,2016-0001,1.0,1/01/2016,2016.0,1.0,1.0,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO\r
1,2016-0002,1.0,2/01/2016,2016.0,1.0,2.0,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS\r
2,2016-0003,1.0,3/01/2016,2016.0,1.0,3.0,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1.0,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO\r
3,2016-0004,1.0,10/01/2016,2016.0,1.0,10.0,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8.0,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD\r
4,2016-0005,1.0,21/01/2016,2016.0,1.0,21.0,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃA, LUIS, PRES.",1.0,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS\r

In [42]:
# Se observa el tamaño del Data Frame
df_hom_hechos.shape

(10493, 21)

In [43]:
# Se profundiza en su contenido
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10493 entries, 0 to 10492
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    float64
 2   FECHA                  696 non-null    object
 3   AAAA                   696 non-null    float64
 4   MM                     696 non-null    float64
 5   DD                     696 non-null    float64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    float64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
               10493 non-null  object
dtypes: float64(6), object(15)
memory usage: 1.7+ MB

In [44]:
# Se establece que a partir del index 697 son filas completamente Nulas 
nulos = df_hom_hechos.isna().sum()
nulos

ID                        9797
N_VICTIMAS                9797
FECHA                     9797
AAAA                      9797
MM                        9797
DD                        9797
HORA                      9797
HH                        9797
LUGAR_DEL_HECHO           9797
TIPO_DE_CALLE             9797
Calle                     9798
Altura                   10364
Cruce                     9968
Dirección Normalizada     9805
COMUNA                    9797
XY (CABA)                 9797
pos x                     9797
pos y                     9797
PARTICIPANTES             9797
VICTIMA                   9797
ACUSADO\r                    0
dtype: int64

In [45]:
# Se eliminan las filas cuyos valores nulos estén en la columna 'ID'
df_hom_hechos = df_hom_hechos.dropna(subset='ID')
df_hom_hechos.shape # Se verifica que el Data Frame haya cambiado de tamaño

(696, 21)

In [46]:
# Se vuelve a revisar que valores Nulos quedan 
nulos = df_hom_hechos.isna().sum()
nulos

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO\r                  0
dtype: int64

In [47]:
# Se imputan los valores del campo ‘Altura’ en los  nulos del campo ‘Cruce’ en un nuevo campo que se llamara ‘Altura/Cruce’ 
df_hom_hechos['Altura/Cruce'] = df_hom_hechos['Cruce'].fillna(df_hom_hechos['Altura'])

In [48]:
# Se vuelve a revisar que valores Nulos quedan 
nulos = df_hom_hechos.isna().sum()
nulos

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO\r                  0
Altura/Cruce              42
dtype: int64

In [49]:
# Se revisa que pasa con las filas donde el nuevo campo contiene nulos 
df_vista = df_hom_hechos[df_hom_hechos['Altura/Cruce'].isnull()]
df_vista

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO\r,Altura/Cruce
35,2016-0049,1.0,17/04/2016,2016.0,4.0,17.0,0:00:00,0,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4.0,Point (. .),-58.37714647568196,-34.63657525428238,SD-SD,SD,SD\r,NaN
38,2016-0052,1.0,20/04/2016,2016.0,4.0,20.0,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13.0,Point (. .),.,.,MOTO-SD,MOTO,SD\r,NaN
64,2016-0087,1.0,2/07/2016,2016.0,7.0,3.0,0:10:00,0,AUTOPISTA 1 SUR PTE ARTURO FRONDIZI Y AV CASEROS,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y C...,1.0,Point (107762.62066736 100018.90176187),-58.37864583,-34.62907067,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
71,2016-0096,1.0,25/07/2016,2016.0,7.0,25.0,7:00:00,7,"AUTOPISTA DELLEPIANE LUIS TTE. GRAL. KM. 2,3",AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,8.0,Point (. .),-58.47433193007387,-34.66684950051973,MOTO-CARGAS,MOTO,CARGAS\r,NaN
81,2016-0107,1.0,20/08/2016,2016.0,8.0,20.0,8:22:00,8,AUTOPISTA 9 DE JULIO SUR ALT AV MENDOZA,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y D...,4.0,Point (108408.31858686 97219.56218484),-58.37157668,-34.65429986,MOTO-AUTO,MOTO,AUTO\r,NaN
91,2016-0118,1.0,4/09/2016,2016.0,9.0,4.0,3:30:00,3,AUTOPISTA 1 SUR PTE ARTURO FRONDIZI KM 2.9,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,1.0,Point (107696.68171812 100254.76268710),-58.37936704,-34.62694503,AUTO-AUTO,AUTO,AUTO\r,NaN
100,2016-0130,1.0,4/10/2016,2016.0,10.0,4.0,12:30:00,12,AUTOPISTA 9 DE JULIO SUR Y AV BRASIL,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y B...,1.0,Point (107720.24059557 100176.85101454),-58.37910942,-34.62764717,MOTO-CARGAS,MOTO,CARGAS\r,NaN
106,2016-0136,1.0,25/10/2016,2016.0,10.0,25.0,0:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN
119,2016-0151,1.0,18/11/2016,2016.0,11.0,18.0,20:35:00,20,SD,CALLE,NaN,NaN,NaN,NaN,0.0,Point (. .),.,.,PEATON-SD,PEATON,SD\r,NaN
127,2016-0160,1.0,6/12/2016,2016.0,12.0,6.0,5:30:00,5,AUTOPISTA PERITO MORENO ALTURA VELZ,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,AUTOPISTA PERITO MORENO (ALTURA VELEZ SARSFIELD),9.0,Point (94867.91408532 99212.26216105),-58.51927194,-34.63635787,CARGAS-OBJETO FIJO,CARGAS,OBJETO FIJO\r,NaN
139,2016-0174,1.0,27/12/2016,2016.0,12.0,27.0,0:00:00,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO,0.0,Point (. .),.,.,SD-SD,SD,SD\r,NaN
148,2017-0009,1.0,16/01/2017,2017.0,1.0,16.0,13:56:00,13,AU 25 DE MAYO Y AV. BOEDO,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO y BOEDO AV.,5.0,Point (104341.1368196 100202.74363294),-58.41595919,-34.62743346,MOTO-CARGAS,MOTO,CARGAS\r,NaN
155,2017-0016,1.0,3/02/2017,2017.0,2.0,3.0,5:12:21,5,"AU 25 DE MAYO, KILOMETRO 8.3, SENTIDO HACIA PR...",AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO KM. 8.3,1.0,Point (107547.76713701 100705.57738660),-58.38099494,-34.62288231,MOTO-CARGAS,MOTO,CARGAS\r,NaN
176,2017-0042,1.0,10/04/2017,2017.0,4.0,10.0,9:00:00,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.",NaN,NaN,"LUGONES, LEOPOLDO AV.",14.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN
180,2017-0050,2.0,28/04/2017,2017.0,4.0,28.0,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN
181,2017-0051,1.0,1/05/2017,2017.0,5.0,1.0,3:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7.0,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO\r,NaN
234,2017-0112,2.0,10/09/2017,2017.0,9.0,10.0,9:32:17,9,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO y VARELA AV.,7.0,Point (100479.14412395 98812.52258620),-58.45807401,-34.63997430,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO\r,NaN
256,2017-0140,1.0,19/11/2017,2017.0,11.0,19.0,23:22:17,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4.0,Point (. .),.,.,MOTO-PASAJEROS,MOTO,PASAJEROS\r,NaN
281,2018-0007,1.0,11/01/2018,2018.0,1.0,11.0,02:30:00,2,AU Perito Moreno KM 0.6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,AUTOPISTA PERITO MORENO KM. 0.6,9.0,Point (94340.14761734 99250.24722124),-58.52502765,-34.63601265,AUTO-AUTO,AUTO,AUTO\r,NaN
294,2018-0020,1.0,19/02/2018,2018.0,2.0,19.0,22:00:00,22,Fernandez de la Cruz Subida AU Héctor J. Cámpora,AUTOPISTA,AUTOPISTA PRESIDENTE HECTOR J. CAMPORA,NaN,NaN,"FERNANDEZ DE LA CRUZ F., GRAL. AV. y AUTOPISTA...",8.0,Point (101207.19032483 96015.90575056),-58.45012957,-34.66518343,MOTO-CARGAS,MOTO,CARGAS\r,NaN
313,2018-0039,1.0,21/04/2018,2018.0,4.0,21.0,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14.0,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO\r,NaN
346,2018-0072,1.0,11/07/2018,2018.0,7.0,11.0,13:15:00,13,"AU Dellepiane kilometro 0.0, altura calle Mont...",AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y MONTIEL,8.0,Point (98224.62123059 93867.97738800),-58.48267426,-34.68454456,MOTO-CARGAS,MOTO,CARGAS\r,NaN
385,2018-0111,1.0,19/10/2018,2018.0,10.0,19.0,12:13:00,12,AU Perito Moreno y Av. Eva Perón SENTIDO CENTRO,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,"AUTOPISTA PERITO MORENO & PERON, EVA AV.",9.0,Point (99423.87045126 97756.09331484),-58.46958442,-34.64949724,MOTO-CARGAS,MOTO,CARGAS\r,NaN
398,2018-0124,1.0,15/11/2018,2018.0,11.0,15.0,19:40:00,19,AU Perito Moreno y Reservistas Argentinos,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,AUTOPISTA PERITO MORENO y RESERVISTAS ARGENTINOS,9.0,Point (94668.77734942 99160.32825286),-58.52144411,-34.63682499,CARGAS-CARGAS,CARGAS,CARGAS\r,NaN
474,2019-0058,1.0,10/07/2019,2019.0,7.0,10.0,9:20:00,9,AUTOPISTA PERITO MORENO ALTURA PASO A NIVEL DE...,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,AUTOPISTA PERITO MORENO e IRIGOYEN,10.0,Point (96064.06591151 99221.69236283),-58.50622631,-34.63627822,MOTO-PASAJEROS,MOTO,PASAJEROS\r,NaN
492,2019-0076,1.0,5/09/2019,2019.0,9.0,5.0,18:00:00,18,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI ALT...,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y D...,4.0,Point (108408.31866027 97219.56223456),-58.37157668,-34.65429986,MOTO-CARGAS,MOTO,CARGAS\r,NaN
511,2019-0095,1.0,20/11/2019,2019.0,11.0,20.0,15:30:00,15,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI ALT...,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y C...,1.0,Point (107762.62066755 100018.90176184),-58.37864583,-34.62907067,MOTO-CARGAS,MOTO,CARGAS\r,NaN
513,2019-0097,1.0,25/11/2019,2019.0,11.0,25.0,8:50:00,8,"AUTOPISTA PERITO MORENO KM 5,6",AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,AUTOPISTA PERITO MORENO KM. 5.6,9.0,Point (98724.36593359 97905.39654686),-58.47721439,-34.64815069,MULTIPLE,MOTO,MULTIPLE\r,NaN
546,2020-0026,1.0,17/05/2020,2020.0,5.0,17.0,6:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14.0,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
555,2020-0035,1.0,4/08/2020,2020.0,8.0,4.0,5:30:00,5,"AU 25 DE MAYO ALTURA PUMACAHUA Y RECUERO, CASI...",AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO y PUMACAHUA,7.0,Point (101156.55025059 99210.16912341),-58.45068621,-34.63638927,MOTO-PASAJEROS,MOTO,PASAJEROS\r,NaN
559,2020-0039,1.0,1/09/2020,2020.0,9.0,1.0,19:17:42,19,MURGUIONDO 2700,CALLE,MURGUIONDO,NaN,NaN,MURGUIONDO,9.0,Point (. .),.,.,PEATON-CARGAS,PEATON,CARGAS\r,NaN
585,2020-0066,1.0,7/12/2020,2020.0,12.0,7.0,4:30:00,4,AUTOPISTA PERITO MORENO ALTURA ESTACION DE TRE...,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,AUTOPISTA PERITO MORENO (ALTURA ESTACION DE TR...,10.0,Point (96471.01552298 99259.49298489),-58.50178784,-34.63593897,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
599,2021-0001,1.0,6/01/2021,2021.0,1.0,6.0,18:00:00,18,AU FRONDIZI KM. 3,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AU FRONDIZI KM. 3,1.0,Point (107674.71781880 100334.26713627),-58.37960727,-34.62622851,MOTO-AUTO,MOTO,AUTO\r,NaN
601,2021-0003,1.0,10/01/2021,2021.0,1.0,10.0,7:40:00,7,"AU 25 DE MAYO KM. 3,7",AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO KM. 3.7,7.0,Point (103005.63484321 99983.28177809),-58.43052224,-34.62941648,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
621,2021-0023,1.0,1/03/2021,2021.0,3.0,1.0,9:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN
624,2021-0026,1.0,15/03/2021,2021.0,3.0,15.0,2:35:00,2,"AU FRONDIZI ALTURA QUINQUELA MARTIN, BENITO",AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y Q...,4.0,Point (108038.11136985 98307.74373426),-58.37562539,-34.64449357,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
631,2021-0033,1.0,14/04/2021,2021.0,4.0,14.0,17:50:00,17,AU 25 DE MAYO ALTURA BAJADA BOEDO AV.,AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO y BOEDO AV.,5.0,Point (104341.13684161 100202.74307433),-58.41595919,-34.62743346,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO\r,NaN
643,2021-0045,1.0,26/05/2021,2021.0,5.0,26.0,17:24:00,17,AU FRONDIZI Y SUAREZ AV.,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y S...,4.0,Point (107903.91828587 98767.43091425),-58.37709334,-34.64035082,MULTIPLE,MOTO,MULTIPLE\r,NaN
655,2021-0057,1.0,10/07/2021,2021.0,7.0,10.0,23:30:00,23,"AU ILLIA KM 3.2, ALTURA CABINAS DE PEAJE",AUTOPISTA,AUTOPISTA ARTURO ILLIA,NaN,NaN,AUTOPISTA ARTURO ILLIA (CABINA DE PEAJE),2.0,Point (106489.89755339 105947.16700228),-58.39257023,-34.57563957,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO\r,NaN
665,2021-0067,1.0,8/08/2021,2021.0,8.0,8.0,9:29:00,9,"AU FRONDIZI KM 2,9 (ALTURA BRASIL)",AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y B...,1.0,Point (107720.23994349 100176.85080944),-58.37910943,-34.62764718,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
679,2021-0081,1.0,2/11/2021,2021.0,11.0,2.0,13:35:00,13,AU FRONDIZI SUBIDA BRANDSEN,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NaN,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI y B...,4.0,Point (107979.30419282 99027.13636949),-58.37627355,-34.63800916,MOTO-CARGAS,MOTO,CARGAS\r,NaN
680,2021-0082,1.0,6/11/2021,2021.0,11.0,6.0,4:39:00,4,AU 25 DE MAYO KM7 (ALTURA PASCO),AUTOPISTA,AUTOPISTA 25 DE MAYO,NaN,NaN,AUTOPISTA 25 DE MAYO y PASCO,3.0,Point (106179.07517962 100523.29161457),-58.39591856,-34.62453459,MOTO-AUTO,MOTO,AUTO\r,NaN

In [50]:
# Se revisa que pasa con las filas donde el campo 'Calle' contiene nulos 
df_vista2 = df_hom_hechos[df_hom_hechos['Calle'].isnull()]
df_vista2

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO\r,Altura/Cruce
119,2016-0151,1.0,18/11/2016,2016.0,11.0,18.0,20:35:00,20,SD,CALLE,NaN,NaN,NaN,NaN,0.0,Point (. .),.,.,PEATON-SD,PEATON,SD\r,NaN

In [51]:
# Se encuentra que esta última fila consultada cuenta con una gran cantidad de falta de Datos que no tienen manera de ser normalizados o imputados por 
# lo cual se precederá a ser eliminada 
df_hom_hechos = df_hom_hechos.dropna(subset=['Calle'])
df_hom_hechos.shape # Se verifica que se elimino dicha fila

(695, 22)

In [52]:
# Se vuelve a revisar que valores Nulos quedan 
nulos = df_hom_hechos.isna().sum()
nulos

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      0
Altura                   566
Cruce                    170
Dirección Normalizada      7
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO\r                  0
Altura/Cruce              41
dtype: int64

In [53]:
# Se revisa que pasa con las filas donde el campo 'Dirección Normalizada' contiene nulos 
df_vista3 = df_hom_hechos[df_hom_hechos['Dirección Normalizada'].isnull()]
df_vista3

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO\r,Altura/Cruce
38,2016-0052,1.0,20/04/2016,2016.0,4.0,20.0,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,13.0,Point (. .),.,.,MOTO-SD,MOTO,SD\r,NaN
106,2016-0136,1.0,25/10/2016,2016.0,10.0,25.0,0:00:00,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN
180,2017-0050,2.0,28/04/2017,2017.0,4.0,28.0,11:08:08,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,NaN,NaN,NaN,9.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN
181,2017-0051,1.0,1/05/2017,2017.0,5.0,1.0,3:47:47,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,NaN,NaN,NaN,7.0,Point (. .),.,.,AUTO-AUTO,AUTO,AUTO\r,NaN
313,2018-0039,1.0,21/04/2018,2018.0,4.0,21.0,22:15:00,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14.0,Point (. .),.,.,PEATON-AUTO,PEATON,AUTO\r,NaN
546,2020-0026,1.0,17/05/2020,2020.0,5.0,17.0,6:40:00,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.",NaN,NaN,NaN,14.0,Point (. .),.,.,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO\r,NaN
621,2021-0023,1.0,1/03/2021,2021.0,3.0,1.0,9:20:00,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,NaN,NaN,NaN,4.0,Point (. .),.,.,MOTO-CARGAS,MOTO,CARGAS\r,NaN

In [54]:
# Se imputan los datos de la columna ‘LUGAR_DEL_HECHO’ en los valores nulos de la columna ‘Dirección Normalizada’ 
df_hom_hechos['Dirección Normalizada'].fillna(df_hom_hechos['LUGAR_DEL_HECHO'], inplace=True)

In [56]:
# Se vuelve a revisar que valores Nulos quedan 
nulos = df_hom_hechos.isna().sum()
nulos

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      0
Altura                   566
Cruce                    170
Dirección Normalizada      0
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO\r                  0
Altura/Cruce              41
dtype: int64

In [57]:
#Se decide imputar el valor de ‘N/D’ en los valores nulos del nuevo campo ‘Altura/Cruce’ 
palabra = 'N/D'
df_hom_hechos['Altura/Cruce'].fillna(palabra, inplace=True)

In [58]:
# Se vuelve a revisar que valores Nulos quedan 
nulos = df_hom_hechos.isna().sum()
nulos

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      0
Altura                   566
Cruce                    170
Dirección Normalizada      0
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO\r                  0
Altura/Cruce               0
dtype: int64

In [59]:
# Se decide eliminar las columnas ‘Altura’ y ‘Cruce’ ya que se lograron normalizar
df_hom_hechos.drop(columns=['Altura','Cruce'], inplace=True)
df_hom_hechos.head(2)

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO\r,Altura/Cruce
0,2016-0001,1.0,1/01/2016,2016.0,1.0,1.0,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO\r,"FERNANDEZ DE LA CRUZ, F., GRAL. AV."
1,2016-0002,1.0,2/01/2016,2016.0,1.0,2.0,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS\r,DE LOS CORRALES AV.

In [60]:
# Se decide a eliminar las columnas ‘AAAA’, ‘MM’, ‘DD’, ‘HH’ y ‘PARTICIPANTES’ ya que estas cuentan datos ya recopilados en otras columnas en el caso de 
# ‘PARTICIPANTES’ están expresados en ‘VICTIMA’ y ‘ACUSADO\r’ 
df_hom_hechos.drop(columns=['AAAA','MM', 'DD', 'HORA','PARTICIPANTES'], inplace=True)
df_hom_hechos.head(2)

,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,VICTIMA,ACUSADO\r,Altura/Cruce
0,2016-0001,1.0,1/01/2016,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO,AUTO\r,"FERNANDEZ DE LA CRUZ, F., GRAL. AV."
1,2016-0002,1.0,2/01/2016,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO,PASAJEROS\r,DE LOS CORRALES AV.

In [61]:
# Se revisa como se lleva el Data Frame
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    float64
 2   FECHA                  695 non-null    object
 3   HH                     695 non-null    object
 4   LUGAR_DEL_HECHO        695 non-null    object
 5   TIPO_DE_CALLE          695 non-null    object
 6   Calle                  695 non-null    object
 7   Dirección Normalizada  695 non-null    object
 8   COMUNA                 695 non-null    float64
 9   XY (CABA)              695 non-null    object
 10  pos x                  695 non-null    object
 11  pos y                  695 non-null    object
 12  VICTIMA                695 non-null    object
               695 non-null    object
 14  Altura/Cruce           695 non-null    object
dtypes: float64(2), object(13)
memory usage: 86.9+ KB

In [62]:
# Se buscan las filas donde no hay coordenadas definidas 
df_vista4 = df_hom_hechos[df_hom_hechos['pos x'] == '.']
df_vista4

,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,VICTIMA,ACUSADO\r,Altura/Cruce
38,2016-0052,1.0,20/04/2016,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",AUTOPISTA LUGONES PK 10000,13.0,Point (. .),.,.,MOTO,SD\r,N/D
106,2016-0136,1.0,25/10/2016,0,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,AU BUENOS AIRES - LA PLATA KM. 4,4.0,Point (. .),.,.,MOTO,CARGAS\r,N/D
139,2016-0174,1.0,27/12/2016,0,AUTOPISTA 25 DE MAYO,AUTOPISTA,AUTOPISTA 25 DE MAYO,AUTOPISTA 25 DE MAYO,0.0,Point (. .),.,.,SD,SD\r,N/D
176,2017-0042,1.0,10/04/2017,9,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,"LUGONES, LEOPOLDO AV.","LUGONES, LEOPOLDO AV.",14.0,Point (. .),.,.,MOTO,CARGAS\r,N/D
180,2017-0050,2.0,28/04/2017,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,9.0,Point (. .),.,.,MOTO,CARGAS\r,N/D
181,2017-0051,1.0,1/05/2017,3,AU DELLEPIANE 2400,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,AU DELLEPIANE 2400,7.0,Point (. .),.,.,AUTO,AUTO\r,N/D
256,2017-0140,1.0,19/11/2017,23,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4.0,Point (. .),.,.,MOTO,PASAJEROS\r,N/D
313,2018-0039,1.0,21/04/2018,22,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,"LUGONES, LEOPOLDO AV.",AUTOPISTA LUGONES KM 4.7,14.0,Point (. .),.,.,PEATON,AUTO\r,N/D
546,2020-0026,1.0,17/05/2020,6,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,"LUGONES, LEOPOLDO AV.","LUGONES, LEOPOLDO AV. KM 6,1",14.0,Point (. .),.,.,MOTO,OBJETO FIJO\r,N/D
559,2020-0039,1.0,1/09/2020,19,MURGUIONDO 2700,CALLE,MURGUIONDO,MURGUIONDO,9.0,Point (. .),.,.,PEATON,CARGAS\r,N/D
621,2021-0023,1.0,1/03/2021,9,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,AUTOPISTA BUENOS AIRES - LA PLATA,"AU BUENOS AIRES LA PLATA KM 4,5",4.0,Point (. .),.,.,MOTO,CARGAS\r,N/D

In [63]:
# Se decide imputar estos valores con las coordenas generales de la Ciudad Autónoma de Buenos Aires 
val_y = '-34.61315'
val_x = '-58.37723'
df_hom_hechos['pos y'] = df_hom_hechos['pos y'].replace('.', val_y)
df_hom_hechos['pos x'] = df_hom_hechos['pos x'].replace('.', val_x)

In [64]:
# Se verifica el cambio de las columnas de coordenadas
df_vista4 = df_hom_hechos[df_hom_hechos['pos x'] == '.']
df_vista4

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Dirección Normalizada, COMUNA, XY (CABA), pos x, pos y, VICTIMA, ACUSADO
, Altura/Cruce]
Index: []

In [65]:
# Se decide a eliminar la columna "XY (CABA)" ya que se van a utilizar las otras columnas para las coordenadas
df_hom_hechos.drop(columns=['XY (CABA)'], inplace=True)
df_hom_hechos.head(2)

,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Dirección Normalizada,COMUNA,pos x,pos y,VICTIMA,ACUSADO\r,Altura/Cruce
0,2016-0001,1.0,1/01/2016,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8.0,-58.47533969,-34.68757022,MOTO,AUTO\r,"FERNANDEZ DE LA CRUZ, F., GRAL. AV."
1,2016-0002,1.0,2/01/2016,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9.0,-58.50877521,-34.66977709,AUTO,PASAJEROS\r,DE LOS CORRALES AV.

In [66]:
# Se verifica la información del Data Frame para proceder a cambiar sus tipos de datos 
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    float64
 2   FECHA                  695 non-null    object
 3   HH                     695 non-null    object
 4   LUGAR_DEL_HECHO        695 non-null    object
 5   TIPO_DE_CALLE          695 non-null    object
 6   Calle                  695 non-null    object
 7   Dirección Normalizada  695 non-null    object
 8   COMUNA                 695 non-null    float64
 9   pos x                  695 non-null    object
 10  pos y                  695 non-null    object
 11  VICTIMA                695 non-null    object
               695 non-null    object
 13  Altura/Cruce           695 non-null    object
dtypes: float64(2), object(12)
memory usage: 81.4+ KB

In [67]:
# Se procede a cambiar el tipo de dato de estos campos pot tipo entero
columnas_cambio_dt = ['N_VICTIMAS','COMUNA']
df_hom_hechos[columnas_cambio_dt] = df_hom_hechos[columnas_cambio_dt].astype(int)
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    int32
 2   FECHA                  695 non-null    object
 3   HH                     695 non-null    object
 4   LUGAR_DEL_HECHO        695 non-null    object
 5   TIPO_DE_CALLE          695 non-null    object
 6   Calle                  695 non-null    object
 7   Dirección Normalizada  695 non-null    object
 8   COMUNA                 695 non-null    int32
 9   pos x                  695 non-null    object
 10  pos y                  695 non-null    object
 11  VICTIMA                695 non-null    object
               695 non-null    object
 13  Altura/Cruce           695 non-null    object
dtypes: int32(2), object(12)
memory usage: 76.0+ KB

In [68]:
# Se procede a cambiar el tipo de dato del campo ‘FECHA’ 
df_hom_hechos['FECHA'] = pd.to_datetime(df_hom_hechos['FECHA'], format='%d/%m/%Y', errors='coerce')
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    int32
 2   FECHA                  695 non-null    datetime64[ns]
 3   HH                     695 non-null    object
 4   LUGAR_DEL_HECHO        695 non-null    object
 5   TIPO_DE_CALLE          695 non-null    object
 6   Calle                  695 non-null    object
 7   Dirección Normalizada  695 non-null    object
 8   COMUNA                 695 non-null    int32
 9   pos x                  695 non-null    object
 10  pos y                  695 non-null    object
 11  VICTIMA                695 non-null    object
               695 non-null    object
 13  Altura/Cruce           695 non-null    object
dtypes: datetime64[ns](1), int32(2), object(11)
memory usage: 76.0+ KB

In [69]:
# Se procede a cambiar el tipo de dato de estos campos pot tipo flotante
columnas_cambio_dt2 = ['pos x','pos y']
df_hom_hechos[columnas_cambio_dt2] = df_hom_hechos[columnas_cambio_dt2].astype(float)
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    int32
 2   FECHA                  695 non-null    datetime64[ns]
 3   HH                     695 non-null    object
 4   LUGAR_DEL_HECHO        695 non-null    object
 5   TIPO_DE_CALLE          695 non-null    object
 6   Calle                  695 non-null    object
 7   Dirección Normalizada  695 non-null    object
 8   COMUNA                 695 non-null    int32
 9   pos x                  695 non-null    float64
 10  pos y                  695 non-null    float64
 11  VICTIMA                695 non-null    object
               695 non-null    object
 13  Altura/Cruce           695 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(2), object(9)
memory usage: 76.0+ KB

In [70]:
# Se localiza un valor no normalizado en el campo ‘HORA’ 
df_vista5 = df_hom_hechos[df_hom_hechos['HH'] == 'SD']
df_vista5

,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Dirección Normalizada,COMUNA,pos x,pos y,VICTIMA,ACUSADO\r,Altura/Cruce
518,2019-0103,1,2019-12-18,SD,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y GRIVEO",11,-58.521694,-34.594716,MOTO,MOTO\r,GRIVEO

In [71]:
#Se decide imputar el valor de ‘12:00:00’ en el valor no normalizado en el campo ‘HORA’
df_hom_hechos['HH'] = df_hom_hechos['HH'].replace('SD', '12')
# Se verifica que se haya hecho el cambio
df_vista5 = df_hom_hechos[df_hom_hechos['HH'] == 'SD']
df_vista5

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, HH, LUGAR_DEL_HECHO, TIPO_DE_CALLE, Calle, Dirección Normalizada, COMUNA, pos x, pos y, VICTIMA, ACUSADO
, Altura/Cruce]
Index: []

In [72]:
# Se procede a cambiar el tipo de dato del campo 'HH'
df_hom_hechos['HH'] = df_hom_hechos['HH'].astype(int)
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     695 non-null    object
 1   N_VICTIMAS             695 non-null    int32
 2   FECHA                  695 non-null    datetime64[ns]
 3   HH                     695 non-null    int32
 4   LUGAR_DEL_HECHO        695 non-null    object
 5   TIPO_DE_CALLE          695 non-null    object
 6   Calle                  695 non-null    object
 7   Dirección Normalizada  695 non-null    object
 8   COMUNA                 695 non-null    int32
 9   pos x                  695 non-null    float64
 10  pos y                  695 non-null    float64
 11  VICTIMA                695 non-null    object
               695 non-null    object
 13  Altura/Cruce           695 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(3), object(8)
memory usage: 73.3+ KB

In [73]:
# Se decide crear un nuevo campo llamado ‘Semestre’ en el cual se le asignara un valor al semestre correspondiente de la fecha en la fila del todo el 
# DataFrame todo esto a través de una función 

# Se define una función para obtener el semestre
def obtener_semestre(fecha):
    if fecha.month <= 6:
        return 1
    else:
        return 2

In [74]:
# Se aplica la función en el Data Frame
df_hom_hechos['Semestre'] = df_hom_hechos['FECHA'].apply(obtener_semestre)
df_hom_hechos.head(2)

,ID,N_VICTIMAS,FECHA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,Calle,Dirección Normalizada,COMUNA,pos x,pos y,VICTIMA,ACUSADO\r,Altura/Cruce,Semestre
0,2016-0001,1,2016-01-01,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.475340,-34.687570,MOTO,AUTO\r,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",1
1,2016-0002,1,2016-01-02,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.508775,-34.669777,AUTO,PASAJEROS\r,DE LOS CORRALES AV.,1

In [75]:
# Se procede normalizar el nombre de todas las columnas 
nombres_normalizados = ['Id','Victimas','Fecha','Franja_Horaria','Lugar_Del_Hecho','Tipo_De_Calle','Calle','Direccion','Comuna','Longitud','Latitud','Victima','Acusado','Altura\Cruce','Semestre']
df_hom_hechos.columns = nombres_normalizados
df_hom_hechos.head(2)

,Id,Victimas,Fecha,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Comuna,Longitud,Latitud,Victima,Acusado,Altura\Cruce,Semestre
0,2016-0001,1,2016-01-01,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.475340,-34.687570,MOTO,AUTO\r,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.",1
1,2016-0002,1,2016-01-02,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.508775,-34.669777,AUTO,PASAJEROS\r,DE LOS CORRALES AV.,1

In [76]:
orden_columnas = ['Id','Victimas','Victima','Acusado','Fecha','Semestre','Franja_Horaria','Lugar_Del_Hecho','Tipo_De_Calle','Calle','Direccion','Altura\Cruce','Comuna','Longitud','Latitud']
df_hom_hechos = df_hom_hechos[orden_columnas]
df_hom_hechos.head(2)

,Id,Victimas,Victima,Acusado,Fecha,Semestre,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Altura\Cruce,Comuna,Longitud,Latitud
0,2016-0001,1,MOTO,AUTO\r,2016-01-01,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.475340,-34.687570
1,2016-0002,1,AUTO,PASAJEROS\r,2016-01-02,1,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.,9,-58.508775,-34.669777

In [77]:
# Se procede a reemplazar los caracteres ‘\r’ de la columna ‘Acusado’
df_hom_hechos['Acusado'] = df_hom_hechos['Acusado'].str[:-1]
df_hom_hechos.head()

,Id,Victimas,Victima,Acusado,Fecha,Semestre,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Altura\Cruce,Comuna,Longitud,Latitud
0,2016-0001,1,MOTO,AUTO,2016-01-01,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.475340,-34.687570
1,2016-0002,1,AUTO,PASAJEROS,2016-01-02,1,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.,9,-58.508775,-34.669777
2,2016-0003,1,MOTO,AUTO,2016-01-03,1,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,ENTRE RIOS AV. 2034,2034.0,1,-58.390403,-34.631894
3,2016-0004,1,MOTO,SD,2016-01-10,1,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.","VILLEGAS, CONRADO, GRAL.",8,-58.465039,-34.680930
4,2016-0005,1,MOTO,PASAJEROS,2016-01-21,1,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAN JUAN AV. y SAENZ PEÃA, LUIS, PRES.","SAENZ PE?A, LUIS, PRES.",1,-58.387183,-34.622466

In [78]:
# Se visualiza el tamaño del Data Frame final
df_hom_hechos.shape

(695, 15)

In [79]:
# Se observa como quedo compuesta el Data Frame final
df_hom_hechos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 695 entries, 0 to 695
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               695 non-null    object
 1   Victimas         695 non-null    int32
 2   Victima          695 non-null    object
 3   Acusado          695 non-null    object
 4   Fecha            695 non-null    datetime64[ns]
 5   Semestre         695 non-null    int64
 6   Franja_Horaria   695 non-null    int32
 7   Lugar_Del_Hecho  695 non-null    object
 8   Tipo_De_Calle    695 non-null    object
 9   Calle            695 non-null    object
 10  Direccion        695 non-null    object
 11  Altura\Cruce     695 non-null    object
 12  Comuna           695 non-null    int32
 13  Longitud         695 non-null    float64
 14  Latitud          695 non-null    float64
dtypes: datetime64[ns](1), float64(2), int32(3), int64(1), object(8)
memory usage: 78.7+ KB

### Data Set homicidios_VICTIMAS

In [80]:
# Se lee el Data Set
df_hom_victimas=pd.read_excel(ruta_homicios_victimas, sheet_name='VICTIMAS', engine='openpyxl')

In [81]:
# Se visualiza el Data Frame
df_hom_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [82]:
# Se procede a eliminar columnas no relevantes 
df_hom_victimas.drop(columns=['FECHA','AAAA','MM', 'DD','VICTIMA','FECHA_FALLECIMIENTO'], inplace=True)
df_hom_victimas.head()

    ID_hecho        ROL       SEXO EDAD
0  2016-0001  CONDUCTOR  MASCULINO   19
1  2016-0002  CONDUCTOR  MASCULINO   70
2  2016-0003  CONDUCTOR  MASCULINO   30
3  2016-0004  CONDUCTOR  MASCULINO   18
4  2016-0005  CONDUCTOR  MASCULINO   29

In [83]:
# Se revisa la información del Data Frame
df_hom_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_hecho  717 non-null    object
 1   ROL       717 non-null    object
 2   SEXO      717 non-null    object
 3   EDAD      717 non-null    object
dtypes: object(4)
memory usage: 22.5+ KB

In [84]:
df_hom_victimas['SEXO'].value_counts()

SEXO
MASCULINO    545
FEMENINO     166
SD             6
Name: count, dtype: int64

In [85]:
df_hom_victimas = df_hom_victimas[df_hom_victimas['SEXO'] != 'SD']
df_hom_victimas['SEXO'].value_counts()

SEXO
MASCULINO    545
FEMENINO     166
Name: count, dtype: int64

In [86]:
# Se encuentra que el campo ‘EDAD’ posee valores sin datos por lo cual se procede a calcular su media para imputar los valores faltantes 
df_edades= pd.DataFrame(df_hom_victimas['EDAD'])
lista_edades = list(df_edades['EDAD'])
len(lista_edades)

711

In [87]:
# Se crea una nueva lista sin los valores 'SD' y las comas que le siguen
edades_lista = [valor for valor in lista_edades if str(valor) != 'SD' and str(valor) != ',']
len(edades_lista)

664

In [88]:
# Se convierte los valores a números enteros y se calcula el promedio
valores_numericos = [int(valor) for valor in edades_lista]
promedio_edades = sum(valores_numericos) / len(valores_numericos) if len(valores_numericos) > 0 else 0
promedio_edades = int(promedio_edades)
print("El promedio de edades es de:", promedio_edades)

El promedio de edades es de: 42

In [89]:
# Se decide imputar el valor promedio de edades en donde no hay datos 
df_hom_victimas['EDAD'] = df_hom_victimas['EDAD'].replace('SD', promedio_edades)

In [90]:
# Se procede a cambiar el tipo de dato del campo edad por tipo entero
df_hom_victimas['EDAD'] = df_hom_victimas['EDAD'].astype(int)
df_hom_victimas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 711 entries, 0 to 716
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID_hecho  711 non-null    object
 1   ROL       711 non-null    object
 2   SEXO      711 non-null    object
 3   EDAD      711 non-null    int32
dtypes: int32(1), object(3)
memory usage: 25.0+ KB

In [91]:
# Se procede normalizar el nombre de todas las columnas 
nombres_normalizados = ['Id','Rol','Sexo','Edad']
df_hom_victimas.columns = nombres_normalizados
df_hom_victimas.head()

          Id        Rol       Sexo  Edad
0  2016-0001  CONDUCTOR  MASCULINO    19
1  2016-0002  CONDUCTOR  MASCULINO    70
2  2016-0003  CONDUCTOR  MASCULINO    30
3  2016-0004  CONDUCTOR  MASCULINO    18
4  2016-0005  CONDUCTOR  MASCULINO    29

In [92]:
# Se procede a realizar un merge de los dos Data Frames trabajados hasta el momento haciendo coincidencia en el campo ‘Id’ dejando las filas del Data Frame
# ‘victimas’ que no tenían relación con el otro Data Frame 
df_homicidios = pd.merge(df_hom_hechos, df_hom_victimas, on='Id', how='inner')
df_homicidios.head()

,Id,Victimas,Victima,Acusado,Fecha,Semestre,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Altura\Cruce,Comuna,Longitud,Latitud,Rol,Sexo,Edad
0,2016-0001,1,MOTO,AUTO,2016-01-01,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.475340,-34.687570,CONDUCTOR,MASCULINO,19
1,2016-0002,1,AUTO,PASAJEROS,2016-01-02,1,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.,9,-58.508775,-34.669777,CONDUCTOR,MASCULINO,70
2,2016-0003,1,MOTO,AUTO,2016-01-03,1,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,ENTRE RIOS AV. 2034,2034.0,1,-58.390403,-34.631894,CONDUCTOR,MASCULINO,30
3,2016-0004,1,MOTO,SD,2016-01-10,1,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.","VILLEGAS, CONRADO, GRAL.",8,-58.465039,-34.680930,CONDUCTOR,MASCULINO,18
4,2016-0005,1,MOTO,PASAJEROS,2016-01-21,1,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAN JUAN AV. y SAENZ PEÃA, LUIS, PRES.","SAENZ PE?A, LUIS, PRES.",1,-58.387183,-34.622466,CONDUCTOR,MASCULINO,29

In [93]:
# Se observa que hay filas eventos donde resulto más de una victima 
df_vista6 = df_homicidios[df_homicidios['Victimas'] > 1]
df_vista6

,Id,Victimas,Victima,Acusado,Fecha,Semestre,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Altura\Cruce,Comuna,Longitud,Latitud,Rol,Sexo,Edad
29,2016-0041,2,MOTO,CARGAS,2016-03-29,1,11,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,DIRECTORIO AV.,DIRECTORIO AV. y RIVERA INDARTE AV.,RIVERA INDARTE AV.,7,-58.460766,-34.633504,CONDUCTOR,MASCULINO,54
30,2016-0041,2,MOTO,CARGAS,2016-03-29,1,11,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,DIRECTORIO AV.,DIRECTORIO AV. y RIVERA INDARTE AV.,RIVERA INDARTE AV.,7,-58.460766,-34.633504,PASAJERO_ACOMPAÑANTE,MASCULINO,42
96,2016-0126,2,AUTO,CARGAS,2016-09-18,2,22,IRIGOYEN Y TINOGASTA,CALLE,IRIGOYEN,IRIGOYEN y TINOGASTA,TINOGASTA,10,-58.525721,-34.621259,CONDUCTOR,MASCULINO,37
97,2016-0126,2,AUTO,CARGAS,2016-09-18,2,22,IRIGOYEN Y TINOGASTA,CALLE,IRIGOYEN,IRIGOYEN y TINOGASTA,TINOGASTA,10,-58.525721,-34.621259,PASAJERO_ACOMPAÑANTE,MASCULINO,60
157,2017-0026,2,AUTO,OBJETO FIJO,2017-02-26,1,5,AV. PERITO MORENO Y FOURNIER,AVENIDA,"MORENO, PERITO AV.","MORENO, PERITO AV. y FOURNIER",FOURNIER,4,-58.418428,-34.649791,PASAJERO_ACOMPAÑANTE,FEMENINO,23
158,2017-0026,2,AUTO,OBJETO FIJO,2017-02-26,1,5,AV. PERITO MORENO Y FOURNIER,AVENIDA,"MORENO, PERITO AV.","MORENO, PERITO AV. y FOURNIER",FOURNIER,4,-58.418428,-34.649791,CONDUCTOR,MASCULINO,19
167,2017-0035,3,AUTO,OBJETO FIJO,2017-03-23,1,5,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...","VILLAFLOR, AZUCENA",1,-58.358815,-34.611136,CONDUCTOR,MASCULINO,28
168,2017-0035,3,AUTO,OBJETO FIJO,2017-03-23,1,5,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...","VILLAFLOR, AZUCENA",1,-58.358815,-34.611136,PASAJERO_ACOMPAÑANTE,MASCULINO,32
169,2017-0035,3,AUTO,OBJETO FIJO,2017-03-23,1,5,AV. DR. TRISTAN ACHAVAL RODRIGUEZ Y BLVD. AZUC...,AVENIDA,"ACHAVAL RODRIGUEZ, T., DR. AV.","ACHAVAL RODRIGUEZ, T., DR. AV. y VILLAFLOR, AZ...","VILLAFLOR, AZUCENA",1,-58.358815,-34.611136,PASAJERO_ACOMPAÑANTE,MASCULINO,30
170,2017-0036,2,MOTO,PASAJEROS,2017-03-29,1,18,CURUPAYTI Y COLECTORA AV. GRAL. PAZ,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y CAMPANA",CAMPANA,12,-58.514523,-34.581598,PASAJERO_ACOMPAÑANTE,FEMENINO,42
171,2017-0036,2,MOTO,PASAJEROS,2017-03-29,1,18,CURUPAYTI Y COLECTORA AV. GRAL. PAZ,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y CAMPANA",CAMPANA,12,-58.514523,-34.581598,CONDUCTOR,MASCULINO,20
180,2017-0050,2,MOTO,CARGAS,2017-04-28,1,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,N/D,9,-58.377230,-34.613150,CONDUCTOR,MASCULINO,46
181,2017-0050,2,MOTO,CARGAS,2017-04-28,1,11,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,AUTOPISTA PERITO MORENO,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,N/D,9,-58.377230,-34.613150,PASAJERO_ACOMPAÑANTE,MASCULINO,16
231,2017-0108,2,OBJETO FIJO,AUTO,2017-09-02,2,4,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y MACHAIN",MACHAIN,12,-58.494911,-34.547956,PASAJERO_ACOMPAÑANTE,MASCULINO,17
232,2017-0108,2,OBJETO FIJO,AUTO,2017-09-02,2,4,AV. GRAL. PAZ Y MACHAIN,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y MACHAIN",MACHAIN,12,-58.494911,-34.547956,PASAJERO_ACOMPAÑANTE,MASCULINO,10
236,2017-0112,2,AUTO,OBJETO FIJO,2017-09-10,2,9,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,AUTOPISTA 25 DE MAYO,AUTOPISTA 25 DE MAYO y VARELA AV.,N/D,7,-58.458074,-34.639974,PASAJERO_ACOMPAÑANTE,MASCULINO,1
237,2017-0112,2,AUTO,OBJETO FIJO,2017-09-10,2,9,AU 25 DE MAYO Y AV. VARELA,AUTOPISTA,AUTOPISTA 25 DE MAYO,AUTOPISTA 25 DE MAYO y VARELA AV.,N/D,7,-58.458074,-34.639974,PASAJERO_ACOMPAÑANTE,MASCULINO,42
247,2017-0126,2,AUTO,OBJETO FIJO,2017-10-14,2,6,AV. RIESTRA Y CAÑADA DE GOMEZ,AVENIDA,RIESTRA AV.,RIESTRA AV. y CAÃADA DE GOMEZ,CA?ADA DE GOMEZ,8,-58.480037,-34.681485,PASAJERO_ACOMPAÑANTE,MASCULINO,39
248,2017-0126,2,AUTO,OBJETO FIJO,2017-10-14,2,6,AV. RIESTRA Y CAÑADA DE GOMEZ,AVENIDA,RIESTRA AV.,RIESTRA AV. y CAÃADA DE GOMEZ,CA?ADA DE GOMEZ,8,-58.480037,-34.681485,CONDUCTOR,MASCULINO,36
271,2017-0153,2,MOTO,PASAJEROS,2017-12-11,2,2,ROSARIO Y AV. LA PLATA,AVENIDA,ROSARIO,ROSARIO y LA PLATA AV.,LA PLATA AV.,6,-58.428553,-34.618294,PASAJERO_ACOMPAÑANTE,MASCULINO,42
272,2017-0153,2,MOTO,PASAJEROS,2017-12-11,2,2,ROSARIO Y AV. LA PLATA,AVENIDA,ROSARIO,ROSARIO y LA PLATA AV.,LA PLATA AV.,6,-58.428553,-34.618294,CONDUCTOR,MASCULINO,30
294,2018-0015,2,MOTO,PASAJEROS,2018-02-06,1,1,Australia Av. 2800,AVENIDA,AUSTRALIA AV.,AUSTRALIA AV. 2800,2800.0,4,-58.386363,-34.646843,CONDUCTOR,MASCULINO,28
295,2018-0015,2,MOTO,PASAJEROS,2018-02-06,1,1,Australia Av. 2800,AVENIDA,AUSTRALIA AV.,AUSTRALIA AV. 2800,2800.0,4,-58.386363,-34.646843,PASAJERO_ACOMPAÑANTE,MASCULINO,19
306,2018-0026,2,MOVIL,CARGAS,2018-03-09,1,4,"Rabanal, Francisco, Intendente Av. y Saenz Av.",AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.","RABANAL, FRANCISCO, INTENDENTE AV. y SAENZ AV.",SAENZ AV.,4,-58.416578,-34.654762,CONDUCTOR,MASCULINO,24
307,2018-0026,2,MOVIL,CARGAS,2018-03-09,1,4,"Rabanal, Francisco, Intendente Av. y Saenz Av.",AVENIDA,"RABANAL, FRANCISCO, INTENDENTE AV.","RABANAL, FRANCISCO, INTENDENTE AV. y SAENZ AV.",SAENZ AV.,4,-58.416578,-34.654762,PASAJERO_ACOMPAÑANTE,MASCULINO,30
319,2018-0038,2,PEATON,AUTO,2018-04-20,1,17,AV. RIVADAVIA 1571,AVENIDA,RIVADAVIA AV.,RIVADAVIA AV. 1571,1571.0,1,-58.388722,-34.608850,PEATON,FEMENINO,59
320,2018-0038,2,PEATON,AUTO,2018-04-20,1,17,AV. RIVADAVIA 1571,AVENIDA,RIVADAVIA AV.,RIVADAVIA AV. 1571,1571.0,1,-58.388722,-34.608850,PEATON,MASCULINO,61
367,2018-0085,2,MOTO,PASAJEROS,2018-08-03,2,18,"Entre Rios Av. y Garay, Juan De Av.",AVENIDA,ENTRE RIOS AV.,"ENTRE RIOS AV. y GARAY, JUAN DE AV.","GARAY, JUAN DE AV.",3,-58.391189,-34.627043,PASAJERO_ACOMPAÑANTE,FEMENINO,22
368,2018-0085,2,MOTO,PASAJEROS,2018-08-03,2,18,"Entre Rios Av. y Garay, Juan De Av.",AVENIDA,ENTRE RIOS AV.,"ENTRE RIOS AV. y GARAY, JUAN DE AV.","GARAY, JUAN DE AV.",3,-58.391189,-34.627043,CONDUCTOR,MASCULINO,30
381,2018-0098,2,AUTO,AUTO,2018-09-09,2,5,Av. Gral. Paz e/ Ferre y Beron de Astrada,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y BERON DE ASTRADA",BERON DE ASTRADA,8,-58.471994,-34.696402,CONDUCTOR,MASCULINO,55
382,2018-0098,2,AUTO,AUTO,2018-09-09,2,5,Av. Gral. Paz e/ Ferre y Beron de Astrada,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y BERON DE ASTRADA",BERON DE ASTRADA,8,-58.471994,-34.696402,PASAJERO_ACOMPAÑANTE,MASCULINO,54
412,2018-0128,2,AUTO,PASAJEROS,2018-11-25,2,4,"Paz, Gral. Av. 11200",GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. 11200",11200.0,9,-58.528446,-34.645929,PASAJERO_ACOMPAÑANTE,MASCULINO,49
413,2018-0128,2,AUTO,PASAJEROS,2018-11-25,2,4,"Paz, Gral. Av. 11200",GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. 11200",11200.0,9,-58.528446,-34.645929,PASAJERO_ACOMPAÑANTE,FEMENINO,39
438,2019-0010,2,PEATON,AUTO,2019-02-02,1,7,DEL LIBERTADOR AV. 4100,AVENIDA,DEL LIBERTADOR AV.,DEL LIBERTADOR AV. 4100,4100.0,14,-58.426685,-34.569615,PEATON,MASCULINO,42
439,2019-0010,2,PEATON,AUTO,2019-02-02,1,7,DEL LIBERTADOR AV. 4100,AVENIDA,DEL LIBERTADOR AV.,DEL LIBERTADOR AV. 4100,4100.0,14,-58.426685,-34.569615,PEATON,MASCULINO,59
570,2020-0038,2,AUTO,AUTO,2020-08-30,2,4,"LAS HERAS GENERAL AV. Y DIAZ, CNEL. AV.",AVENIDA,LAS HERAS GENERAL AV.,"LAS HERAS GENERAL AV. y DIAZ, CNEL. AV.","DIAZ, CNEL. AV.",14,-58.406175,-34.583459,CONDUCTOR,MASCULINO,46
571,2020-0038,2,AUTO,AUTO,2020-08-30,2,4,"LAS HERAS GENERAL AV. Y DIAZ, CNEL. AV.",AVENIDA,LAS HERAS GENERAL AV.,"LAS HERAS GENERAL AV. y DIAZ, CNEL. AV.","DIAZ, CNEL. AV.",14,-58.406175,-34.583459,CONDUCTOR,MASCULINO,64
596,2020-0063,2,PEATON_MOTO,MOTO,2020-12-05,2,7,NUEVA YORK Y ALTA GRACIA,CALLE,NUEVA YORK,NUEVA YORK y ALTA GRACIA,ALTA GRACIA,11,-58.527838,-34.610470,PEATON,MASCULINO,38
597,2020-0063,2,PEATON_MOTO,MOTO,2020-12-05,2,7,NUEVA YORK Y ALTA GRACIA,CALLE,NUEVA YORK,NUEVA YORK y ALTA GRACIA,ALTA GRACIA,11,-58.527838,-34.610470,PASAJERO_ACOMPAÑANTE,MASCULINO,21
610,2020-0077,2,MOTO,AUTO,2020-12-25,2,6,SAN MARTIN AV. Y PUNTA ARENAS,AVENIDA,SAN MARTIN AV.,SAN MARTIN AV. y PUNTA ARENAS,PUNTA ARENAS,15,-58.472209,-34.601114,CONDUCTOR,FEMENINO,30
611,2020-0077,2,MOTO,AUTO,2020-12-25,2,6,SAN MARTIN AV. Y PUNTA ARENAS,AVENIDA,SAN MARTIN AV.,SAN MARTIN AV. y PUNTA ARENAS,PUNTA ARENAS,15,-58.472209,-34.601114,PASAJERO_ACOMPAÑANTE,FEMENINO,24

In [94]:
# Se procede a reacomodar las columnas  
orden_columnas = ['Id','Victimas','Sexo','Edad','Rol','Victima','Acusado','Fecha','Semestre','Franja_Horaria','Lugar_Del_Hecho','Tipo_De_Calle','Calle','Direccion','Altura\Cruce','Comuna','Longitud','Latitud']
df_homicidios = df_homicidios[orden_columnas]
df_homicidios.head(2)

,Id,Victimas,Sexo,Edad,Rol,Victima,Acusado,Fecha,Semestre,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Altura\Cruce,Comuna,Longitud,Latitud
0,2016-0001,1,MASCULINO,19,CONDUCTOR,MOTO,AUTO,2016-01-01,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.475340,-34.687570
1,2016-0002,1,MASCULINO,70,CONDUCTOR,AUTO,PASAJEROS,2016-01-02,1,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.,9,-58.508775,-34.669777

In [95]:
df_homicidios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               711 non-null    object
 1   Victimas         711 non-null    int32
 2   Sexo             711 non-null    object
 3   Edad             711 non-null    int32
 4   Rol              711 non-null    object
 5   Victima          711 non-null    object
 6   Acusado          711 non-null    object
 7   Fecha            711 non-null    datetime64[ns]
 8   Semestre         711 non-null    int64
 9   Franja_Horaria   711 non-null    int32
 10  Lugar_Del_Hecho  711 non-null    object
 11  Tipo_De_Calle    711 non-null    object
 12  Calle            711 non-null    object
 13  Direccion        711 non-null    object
 14  Altura\Cruce     711 non-null    object
 15  Comuna           711 non-null    int32
 16  Longitud         711 non-null    float64
 17  Latitud          711 non-null    float64
dtypes: datetime64[ns](1), float64(2), int32(4), int64(1), object(10)
memory usage: 89.0+ KB

### Se guarda el Data Frame en formato CSV

In [96]:
# Se guarda el DataFrame en formato CSV
df_homicidios.to_csv('homicidios.csv', index=False)

In [97]:
# Se convierte y asegura la lectura del archivo
ruta_csv_homicidios = 'E:\\AAADATOS\\Henry\\AA_Data_Science\\MATERIAL_PI_02\\PI_02_Siniestros_Viales\\homicidios.csv' # Se crea una variable con la ruta del archivo CSV
df_homicidios_temp = pd.read_csv(ruta_csv_homicidios) # Se lee ese CSV en un nuevo DataFrame temporal para segurar como estan los datos
df_homicidios_temp

,Id,Victimas,Sexo,Edad,Rol,Victima,Acusado,Fecha,Semestre,Franja_Horaria,Lugar_Del_Hecho,Tipo_De_Calle,Calle,Direccion,Altura\Cruce,Comuna,Longitud,Latitud
0,2016-0001,1,MASCULINO,19,CONDUCTOR,MOTO,AUTO,2016-01-01,1,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...","FERNANDEZ DE LA CRUZ, F., GRAL. AV.",8,-58.475340,-34.687570
1,2016-0002,1,MASCULINO,70,CONDUCTOR,AUTO,PASAJEROS,2016-01-02,1,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.","PAZ, GRAL. AV. y DE LOS CORRALES AV.",DE LOS CORRALES AV.,9,-58.508775,-34.669777
2,2016-0003,1,MASCULINO,30,CONDUCTOR,MOTO,AUTO,2016-01-03,1,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,ENTRE RIOS AV. 2034,2034.0,1,-58.390403,-34.631894
3,2016-0004,1,MASCULINO,18,CONDUCTOR,MOTO,SD,2016-01-10,1,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.","VILLEGAS, CONRADO, GRAL.",8,-58.465039,-34.680930
4,2016-0005,1,MASCULINO,29,CONDUCTOR,MOTO,PASAJEROS,2016-01-21,1,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAN JUAN AV. y SAENZ PEÃA, LUIS, PRES.","SAENZ PE?A, LUIS, PRES.",1,-58.387183,-34.622466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706,2021-0093,1,FEMENINO,18,PASAJERO_ACOMPAÑANTE,MOTO,AUTO,2021-12-13,2,17,AV. RIESTRA Y MOM,AVENIDA,RIESTRA AV.,RIESTRA AV. y MOM,MOM,7,-58.433538,-34.645616
707,2021-0094,1,FEMENINO,43,PASAJERO_ACOMPAÑANTE,MOTO,AUTO,2021-12-20,2,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.","DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",LACARRA AV.,9,-58.467398,-34.651178
708,2021-0095,1,MASCULINO,27,CONDUCTOR,MOTO,CARGAS,2021-12-30,2,0,AV. GAONA Y TERRADA,AVENIDA,GAONA AV.,GAONA AV. y TERRADA,TERRADA,11,-58.472934,-34.619847
709,2021-0096,1,MASCULINO,60,CONDUCTOR,AUTO,CARGAS,2021-12-15,2,10,AV. EVA PERON 4071,AVENIDA,"PERON, EVA AV.","PERON, EVA AV. 4071",4071.0,9,-58.470668,-34.650217
710,2021-0097,1,MASCULINO,53,CICLISTA,BICICLETA,AUTO,2021-11-18,2,6,PADRE CARLOS MUJICA 709,CALLE,PADRE CARLOS MUJICA,PADRE CARLOS MUGICA 709,709.0,1,-58.379762,-34.586796

## Data Set de Lesiones

### Data Set lesiones_HECHOS

In [98]:
# Se lee el Data Set
df_les_hechos = pd.read_excel(ruta_lesiones, sheet_name='HECHOS', engine='openpyxl')

In [99]:
# Se visualiza una primera impresión de los datos
df_les_hechos.head()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,geocodificacion_CABA,longitud,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,SD,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,SD,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,Point (101813.84712503915943671 95578.55507230...,-58.44351,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,SD,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,SD,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,SD,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD

In [100]:
# Se definen campos que no serán relevantes así que se procede a ser eliminados 
eliminados1 = ['fecha','aaaa','mm','dd','hora','geocodificacion_CABA','moto','auto','transporte_publico','camion','ciclista']
df_les_hechos.drop(columns=eliminados1, inplace=True)
df_les_hechos.head(2)

,id,n_victimas,franja_hora,direccion_normalizada,comuna,tipo_calle,otra_direccion,calle,altura,cruce,longitud,latutid,victima,acusado,participantes,gravedad
0,LC-2019-0000179,1,9,SD,14,SD,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD,SD
1,LC-2019-0000053,1,1,SD,8,SD,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,-58.44351,-34.669125,AUTO,SD,AUTO-SD,SD

In [101]:
# Se procede normalizar el nombre de todas las columnas 
nombres_normalizados = ['Id','Victimas','Franja_Horaria','Direccion_Normalizada','Comuna','Tipo_De_Calle','Otra_Direccion','Calle','Altura','Cruce','Longitud','Latitud','Victima','Acusado','Participantes','Gravedad']
df_les_hechos.columns = nombres_normalizados
df_les_hechos.head()

,Id,Victimas,Franja_Horaria,Direccion_Normalizada,Comuna,Tipo_De_Calle,Otra_Direccion,Calle,Altura,Cruce,Longitud,Latitud,Victima,Acusado,Participantes,Gravedad
0,LC-2019-0000179,1,9,SD,14,SD,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD,SD
1,LC-2019-0000053,1,1,SD,8,SD,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,-58.44351,-34.669125,AUTO,SD,AUTO-SD,SD
2,LC-2019-0000063,1,2,SD,8,SD,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,-58.468335,-34.677556,SD,SD,SD-SD,SD
3,LC-2019-0000079,1,2,SD,7,SD,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,-58.437425,-34.647349,PEATON,SD,PEATON-SD,SD
4,LC-2019-0000082,4,4,SD,3,SD,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,-58.398225,-34.604579,AUTO,SD,AUTO-SD,SD

In [102]:
# Se observa el tamaño del Data Frame
df_les_hechos.shape

(23785, 16)

### Data Set lesiones_VICTIMAS

In [103]:
# Se lee el Data Set
df_les_victimas = pd.read_excel(ruta_lesiones, sheet_name='VICTIMAS', engine='openpyxl')

In [104]:
# Se visualiza una primera impresión de los datos
df_les_victimas.head(2)

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD

In [105]:
# Se definen campos que no serán relevantes así que se procede a ser eliminados 
eliminados2 = ['AAA','MM','DD','GRAVEDAD']
df_les_victimas.drop(columns=eliminados2, inplace=True)
df_les_victimas.head(2)

          ID hecho     FECHA  VEHICULO_VICTIMA   SEXO EDAD_VICTIMA
0  LC-2019-0000053 2019-01-01               sd  Varon           57
1  LC-2019-0000063 2019-01-01               sd     SD           SD

In [106]:
# Se procede normalizar el nombre de todas las columnas 
nombres_normalizados = ['Id','Fecha','Vehiculo_Victima','Sexo','Edad_Victima']
df_les_victimas.columns = nombres_normalizados
df_les_victimas.head()

                Id      Fecha Vehiculo_Victima   Sexo Edad_Victima
0  LC-2019-0000053 2019-01-01               sd  Varon           57
1  LC-2019-0000063 2019-01-01               sd     SD           SD
2  LC-2019-0000079 2019-01-01               sd  Varon           SD
3  LC-2019-0000082 2019-01-01               sd  Varon           45
4  LC-2019-0000082 2019-01-01               sd  Mujer           45

In [107]:
df_les_victimas.shape

(27605, 5)

### Data Set final de Lesiones

In [108]:
# Se procede a realizar un merge de los dos Data Frames trabajados hasta el momento haciendo coincidencia en el campo ‘Id’ dejando las filas del Data Frame
# ‘victimas’ que no tenían relación con el otro Data Frame 
df_lesiones = pd.merge(df_les_hechos, df_les_victimas, on='Id', how='inner')
df_lesiones.head()

,Id,Victimas,Franja_Horaria,Direccion_Normalizada,Comuna,Tipo_De_Calle,Otra_Direccion,Calle,Altura,Cruce,Longitud,Latitud,Victima,Acusado,Participantes,Gravedad,Fecha,Vehiculo_Victima,Sexo,Edad_Victima
0,LC-2019-0000179,1,9,SD,14,SD,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,NaN,NaN,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,2019-01-01,sd,SD,SD
1,LC-2019-0000053,1,1,SD,8,SD,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,NaN,NaN,-58.44351,-34.669125,AUTO,SD,AUTO-SD,SD,2019-01-01,sd,Varon,57
2,LC-2019-0000063,1,2,SD,8,SD,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",NaN,NaN,NaN,-58.468335,-34.677556,SD,SD,SD-SD,SD,2019-01-01,sd,SD,SD
3,LC-2019-0000079,1,2,SD,7,SD,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",NaN,NaN,NaN,-58.437425,-34.647349,PEATON,SD,PEATON-SD,SD,2019-01-01,sd,Varon,SD
4,LC-2019-0000082,4,4,SD,3,SD,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",NaN,NaN,NaN,-58.398225,-34.604579,AUTO,SD,AUTO-SD,SD,2019-01-01,sd,Varon,45

In [109]:
# Se observa el tamaño del nuevo Data Frame
df_lesiones.shape

(27598, 20)

In [110]:
# Se procede a analizar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               5
Direccion_Normalizada       53
Comuna                     178
Tipo_De_Calle                0
Otra_Direccion               0
Calle                    12744
Altura                   12847
Cruce                    16713
Longitud                   270
Latitud                    270
Victima                      0
Acusado                      0
Participantes                0
Gravedad                     0
Fecha                        0
Vehiculo_Victima             0
Sexo                         0
Edad_Victima                 0
dtype: int64

In [111]:
# Se imputan los valores del campo ‘Altura’ en los  nulos del campo ‘Cruce’ en un nuevo campo que se llamara ‘Altura/Cruce’ 
df_lesiones['Altura\Cruce'] = df_lesiones['Cruce'].fillna(df_lesiones['Altura'])

In [112]:
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               5
Direccion_Normalizada       53
Comuna                     178
Tipo_De_Calle                0
Otra_Direccion               0
Calle                    12744
Altura                   12847
Cruce                    16713
Longitud                   270
Latitud                    270
Victima                      0
Acusado                      0
Participantes                0
Gravedad                     0
Fecha                        0
Vehiculo_Victima             0
Sexo                         0
Edad_Victima                 0
Altura\Cruce             12719
dtype: int64

In [113]:
#Se decide imputar el valor de ‘N/D’ en los valores nulos del nuevo campo ‘Altura\Cruce’ 
palabra = 'N/D'
df_lesiones['Altura\Cruce'].fillna(palabra, inplace=True)
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               5
Direccion_Normalizada       53
Comuna                     178
Tipo_De_Calle                0
Otra_Direccion               0
Calle                    12744
Altura                   12847
Cruce                    16713
Longitud                   270
Latitud                    270
Victima                      0
Acusado                      0
Participantes                0
Gravedad                     0
Fecha                        0
Vehiculo_Victima             0
Sexo                         0
Edad_Victima                 0
Altura\Cruce                 0
dtype: int64

In [114]:
# Se procede a eliminar los campos 'Altura ' y 'Cruce' para despejar el Data Frame
df_lesiones.drop(columns=['Altura','Cruce'], inplace=True)
df_lesiones.head(2)

,Id,Victimas,Franja_Horaria,Direccion_Normalizada,Comuna,Tipo_De_Calle,Otra_Direccion,Calle,Longitud,Latitud,Victima,Acusado,Participantes,Gravedad,Fecha,Vehiculo_Victima,Sexo,Edad_Victima,Altura\Cruce
0,LC-2019-0000179,1,9,SD,14,SD,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,-58.408911,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,2019-01-01,sd,SD,SD,N/D
1,LC-2019-0000053,1,1,SD,8,SD,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,-58.44351,-34.669125,AUTO,SD,AUTO-SD,SD,2019-01-01,sd,Varon,57,N/D

In [115]:
# Se procede a normalizar los valores ‘SD’ por nulos para poder observar donde realmente faltan 
df_lesiones.replace('SD', pd.NA, inplace=True)

In [116]:
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               5
Direccion_Normalizada    12696
Comuna                    1114
Tipo_De_Calle            12879
Otra_Direccion           21138
Calle                    12744
Longitud                  1656
Latitud                   1656
Victima                  12822
Acusado                  17918
Participantes                0
Gravedad                 26691
Fecha                        0
Vehiculo_Victima          4477
Sexo                      1929
Edad_Victima              3990
Altura\Cruce                 0
dtype: int64

In [117]:
# Se procede a eliminar el campo 'Gravedad' para despejar el Data Frame
df_lesiones.drop(columns=['Gravedad'], inplace=True)
df_lesiones.head(2)

,Id,Victimas,Franja_Horaria,Direccion_Normalizada,Comuna,Tipo_De_Calle,Otra_Direccion,Calle,Longitud,Latitud,Victima,Acusado,Participantes,Fecha,Vehiculo_Victima,Sexo,Edad_Victima,Altura\Cruce
0,LC-2019-0000179,1,9,<NA>,14,<NA>,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",NaN,-58.408911,-34.559658,CICLISTA,<NA>,CICLISTA-SD,2019-01-01,sd,<NA>,<NA>,N/D
1,LC-2019-0000053,1,1,<NA>,8,<NA>,"Autopista Presidente Héctor J. Cámpora y Roca,...",NaN,-58.44351,-34.669125,AUTO,<NA>,AUTO-SD,2019-01-01,sd,Varon,57,N/D

In [118]:
# Se procede a eliminar los valores nulos del campo ‘Edad_Victima’ ya que normalizar este campo sesgaría bastante el análisis de los datos 
df_lesiones = df_lesiones.dropna(subset=['Edad_Victima'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               5
Direccion_Normalizada    10440
Comuna                    1011
Tipo_De_Calle            10627
Otra_Direccion           18604
Calle                    10491
Longitud                  1402
Latitud                   1402
Victima                  10609
Acusado                  14900
Participantes                0
Fecha                        0
Vehiculo_Victima          3734
Sexo                       179
Edad_Victima                 0
Altura\Cruce                 0
dtype: int64

In [119]:
# Se revisa el tamaño del Data Frame para determinar que mas valores se eliminan
df_lesiones.shape

(23608, 18)

In [120]:
# Se procede a eliminar los valores nulos del campo ‘Sexo’ ya que estos son una cantidad bastante baja de todos los datos
df_lesiones = df_lesiones.dropna(subset=['Sexo'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               5
Direccion_Normalizada    10350
Comuna                    1006
Tipo_De_Calle            10537
Otra_Direccion           18502
Calle                    10401
Longitud                  1390
Latitud                   1390
Victima                  10572
Acusado                  14777
Participantes                0
Fecha                        0
Vehiculo_Victima          3715
Sexo                         0
Edad_Victima                 0
Altura\Cruce                 0
dtype: int64

In [121]:
# Se procede a eliminar los valores nulos del campo ‘Comuna’ ya que estos seran necesario para una mejor claridad de los datos
df_lesiones = df_lesiones.dropna(subset=['Comuna'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               0
Direccion_Normalizada     9564
Comuna                       0
Tipo_De_Calle             9536
Otra_Direccion           17500
Calle                     9564
Longitud                   454
Latitud                    454
Victima                  10185
Acusado                  14308
Participantes                0
Fecha                        0
Vehiculo_Victima          3504
Sexo                         0
Edad_Victima                 0
Altura\Cruce                 0
dtype: int64

In [122]:
# Se imputan los valores del campo ‘Otra_Direccion’ en los  nulos del campo ‘Direccion_Normalizada’ en un nuevo campo que se llamara ‘Altura/Cruce’ 
df_lesiones['Direccion'] = df_lesiones['Direccion_Normalizada'].fillna(df_lesiones['Otra_Direccion'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                           0
Victimas                     0
Franja_Horaria               0
Direccion_Normalizada     9564
Comuna                       0
Tipo_De_Calle             9536
Otra_Direccion           17500
Calle                     9564
Longitud                   454
Latitud                    454
Victima                  10185
Acusado                  14308
Participantes                0
Fecha                        0
Vehiculo_Victima          3504
Sexo                         0
Edad_Victima                 0
Altura\Cruce                 0
Direccion                 4641
dtype: int64

In [123]:
# Se procede a eliminar los campos ‘Direccion_Normalizada’ y 'Otra_Direccion' ya que estos no son mas necesarios y fueron normalizados
df_lesiones.drop(columns=['Direccion_Normalizada','Otra_Direccion'], inplace=True)

In [124]:
# Se imputan los valores del campo ‘Calle’ en los  nulos del campo ‘Direccion’ 
df_lesiones['Direccion'] = df_lesiones['Direccion'].fillna(df_lesiones['Calle'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                      0
Victimas                0
Franja_Horaria          0
Comuna                  0
Tipo_De_Calle        9536
Calle                9564
Longitud              454
Latitud               454
Victima             10185
Acusado             14308
Participantes           0
Fecha                   0
Vehiculo_Victima     3504
Sexo                    0
Edad_Victima            0
Altura\Cruce            0
Direccion            4640
dtype: int64

In [125]:
# Se procede a eliminar el campo ‘Calle’ ya que este no es necesarios y fue normalizado
df_lesiones.drop(columns=['Calle'], inplace=True)

In [126]:
# Se decide imputar estos valores con las coordenas generales de la Ciudad Autónoma de Buenos Aires en los valores nulos de Longitud y Latitud
val_y = '-34.61315'
val_x = '-58.37723'
df_lesiones['Longitud'].fillna(val_x, inplace=True)
df_lesiones['Latitud'].fillna(val_y, inplace=True)
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                      0
Victimas                0
Franja_Horaria          0
Comuna                  0
Tipo_De_Calle        9536
Longitud                0
Latitud                 0
Victima             10185
Acusado             14308
Participantes           0
Fecha                   0
Vehiculo_Victima     3504
Sexo                    0
Edad_Victima            0
Altura\Cruce            0
Direccion            4640
dtype: int64

In [127]:
# Se procede a normalizar los valores ‘sd’ por nulos para poder observar donde mas faltan 
df_lesiones.replace('sd', pd.NA, inplace=True)

In [128]:
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                      0
Victimas                0
Franja_Horaria          0
Comuna                  0
Tipo_De_Calle        9536
Longitud                0
Latitud                 0
Victima             10185
Acusado             14308
Participantes           0
Fecha                   0
Vehiculo_Victima    12907
Sexo                  287
Edad_Victima          381
Altura\Cruce            0
Direccion            4640
dtype: int64

In [129]:
# Se procede a eliminar los valores nulos de los campos ‘Sexo’ y 'Edad_Victima' ya que estos son una cantidad bastante baja de todos los datos
df_lesiones = df_lesiones.dropna(subset=['Sexo','Edad_Victima'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                      0
Victimas                0
Franja_Horaria          0
Comuna                  0
Tipo_De_Calle        9487
Longitud                0
Latitud                 0
Victima              9999
Acusado             14066
Participantes           0
Fecha                   0
Vehiculo_Victima    12700
Sexo                    0
Edad_Victima            0
Altura\Cruce            0
Direccion            4603
dtype: int64

In [130]:
# Se procede a cambiar el valor de los Nulos del todo el Data Frame por ‘N/D’ para una mejor normalización de todos los datos 
df_lesiones = df_lesiones.fillna('N/D')

In [131]:
# Se verifica que ya no existan valores Nulos
nulos = df_lesiones.isna().sum()
nulos

Id                  0
Victimas            0
Franja_Horaria      0
Comuna              0
Tipo_De_Calle       0
Longitud            0
Latitud             0
Victima             0
Acusado             0
Participantes       0
Fecha               0
Vehiculo_Victima    0
Sexo                0
Edad_Victima        0
Altura\Cruce        0
Direccion           0
dtype: int64

In [132]:
# Se procede a crear el campo ‘Semestre’ 
df_lesiones['Semestre'] = df_lesiones['Fecha'].apply(obtener_semestre)
df_lesiones.head(2)

,Id,Victimas,Franja_Horaria,Comuna,Tipo_De_Calle,Longitud,Latitud,Victima,Acusado,Participantes,Fecha,Vehiculo_Victima,Sexo,Edad_Victima,Altura\Cruce,Direccion,Semestre
1,LC-2019-0000053,1,1,8,N/D,-58.44351,-34.669125,AUTO,N/D,AUTO-SD,2019-01-01,N/D,Varon,57,N/D,"Autopista Presidente Héctor J. Cámpora y Roca,...",1
4,LC-2019-0000082,4,4,3,N/D,-58.398225,-34.604579,AUTO,N/D,AUTO-SD,2019-01-01,N/D,Varon,45,N/D,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",1

In [133]:
# Se procede a reacomodar las columnas  
orden_columnas = ['Id','Victimas','Sexo','Edad_Victima','Participantes','Victima','Acusado','Vehiculo_Victima','Fecha','Semestre','Franja_Horaria','Direccion','Tipo_De_Calle','Altura\Cruce','Comuna','Longitud','Latitud']
df_lesiones = df_lesiones[orden_columnas]
df_lesiones.head(2)

,Id,Victimas,Sexo,Edad_Victima,Participantes,Victima,Acusado,Vehiculo_Victima,Fecha,Semestre,Franja_Horaria,Direccion,Tipo_De_Calle,Altura\Cruce,Comuna,Longitud,Latitud
1,LC-2019-0000053,1,Varon,57,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,1,"Autopista Presidente Héctor J. Cámpora y Roca,...",N/D,N/D,8,-58.44351,-34.669125
4,LC-2019-0000082,4,Varon,45,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579

In [134]:
df_lesiones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22042 entries, 1 to 27596
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22042 non-null  object
 1   Victimas          22042 non-null  int64
 2   Sexo              22042 non-null  object
 3   Edad_Victima      22042 non-null  object
 4   Participantes     22042 non-null  object
 5   Victima           22042 non-null  object
 6   Acusado           22042 non-null  object
 7   Vehiculo_Victima  22042 non-null  object
 8   Fecha             22042 non-null  datetime64[ns]
 9   Semestre          22042 non-null  int64
 10  Franja_Horaria    22042 non-null  int64
 11  Direccion         22042 non-null  object
 12  Tipo_De_Calle     22042 non-null  object
 13  Altura\Cruce      22042 non-null  object
 14  Comuna            22042 non-null  object
 15  Longitud          22042 non-null  object
 16  Latitud           22042 non-null  object
dtypes: datetime64[ns](1), int64(3), object(13)
memory usage: 3.0+ MB

In [135]:
# Se procede a cambiar el tipo de dato de estos campos pot tipo flotante
columnas_cambio = ['Longitud','Latitud']
df_lesiones[columnas_cambio] =df_lesiones[columnas_cambio].astype(float)
df_lesiones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22042 entries, 1 to 27596
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22042 non-null  object
 1   Victimas          22042 non-null  int64
 2   Sexo              22042 non-null  object
 3   Edad_Victima      22042 non-null  object
 4   Participantes     22042 non-null  object
 5   Victima           22042 non-null  object
 6   Acusado           22042 non-null  object
 7   Vehiculo_Victima  22042 non-null  object
 8   Fecha             22042 non-null  datetime64[ns]
 9   Semestre          22042 non-null  int64
 10  Franja_Horaria    22042 non-null  int64
 11  Direccion         22042 non-null  object
 12  Tipo_De_Calle     22042 non-null  object
 13  Altura\Cruce      22042 non-null  object
 14  Comuna            22042 non-null  object
 15  Longitud          22042 non-null  float64
 16  Latitud           22042 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(11)
memory usage: 3.0+ MB

In [136]:
# Se procede a cambiar el tipo de dato del campo 'Edad_Victima' por tipo entero
df_lesiones['Edad_Victima'] = df_lesiones['Edad_Victima'].astype(int)
df_lesiones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22042 entries, 1 to 27596
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                22042 non-null  object
 1   Victimas          22042 non-null  int64
 2   Sexo              22042 non-null  object
 3   Edad_Victima      22042 non-null  int32
 4   Participantes     22042 non-null  object
 5   Victima           22042 non-null  object
 6   Acusado           22042 non-null  object
 7   Vehiculo_Victima  22042 non-null  object
 8   Fecha             22042 non-null  datetime64[ns]
 9   Semestre          22042 non-null  int64
 10  Franja_Horaria    22042 non-null  int64
 11  Direccion         22042 non-null  object
 12  Tipo_De_Calle     22042 non-null  object
 13  Altura\Cruce      22042 non-null  object
 14  Comuna            22042 non-null  object
 15  Longitud          22042 non-null  float64
 16  Latitud           22042 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(3), object(10)
memory usage: 2.9+ MB

In [137]:
# Se identifican valores no normalizados en el campo ‘Comuna’ 
contador2 = df_lesiones['Comuna'].value_counts()
contador2

Comuna
1                  2342
15                 1892
9                  1756
4                  1711
3                  1655
14                 1525
12                 1458
7                  1431
11                 1370
10                 1304
13                 1285
5                  1125
8                  1098
6                   864
2                   861
No Especificada     365
Name: count, dtype: int64

In [138]:
# Se procede a normalizar los valores ‘No Especificada’ por nulos para poder eliminar dichos valores
df_lesiones['Comuna'].replace('No Especificada', pd.NA, inplace=True)

In [139]:
# Se verifica que se hayan transformado a nulos
nulos = df_lesiones.isna().sum()
nulos

Id                    0
Victimas              0
Sexo                  0
Edad_Victima          0
Participantes         0
Victima               0
Acusado               0
Vehiculo_Victima      0
Fecha                 0
Semestre              0
Franja_Horaria        0
Direccion             0
Tipo_De_Calle         0
Altura\Cruce          0
Comuna              365
Longitud              0
Latitud               0
dtype: int64

In [140]:
# Se procede a eliminar los valores nulos del campo ‘Comuna' ya que ese necesario tener los valores correctos de este campo
df_lesiones = df_lesiones.dropna(subset=['Comuna'])
# Se procede a revisar la cantidad de valores nulos 
nulos = df_lesiones.isna().sum()
nulos

Id                  0
Victimas            0
Sexo                0
Edad_Victima        0
Participantes       0
Victima             0
Acusado             0
Vehiculo_Victima    0
Fecha               0
Semestre            0
Franja_Horaria      0
Direccion           0
Tipo_De_Calle       0
Altura\Cruce        0
Comuna              0
Longitud            0
Latitud             0
dtype: int64

In [141]:
# Se procede a cambiar el tipo de dato del campo 'Comuna' por tipo entero
df_lesiones['Comuna'] = df_lesiones['Comuna'].astype(int)
df_lesiones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21677 entries, 1 to 27596
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                21677 non-null  object
 1   Victimas          21677 non-null  int64
 2   Sexo              21677 non-null  object
 3   Edad_Victima      21677 non-null  int32
 4   Participantes     21677 non-null  object
 5   Victima           21677 non-null  object
 6   Acusado           21677 non-null  object
 7   Vehiculo_Victima  21677 non-null  object
 8   Fecha             21677 non-null  datetime64[ns]
 9   Semestre          21677 non-null  int64
 10  Franja_Horaria    21677 non-null  int64
 11  Direccion         21677 non-null  object
 12  Tipo_De_Calle     21677 non-null  object
 13  Altura\Cruce      21677 non-null  object
 14  Comuna            21677 non-null  int32
 15  Longitud          21677 non-null  float64
 16  Latitud           21677 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(2), int64(3), object(9)
memory usage: 2.8+ MB

In [142]:
# Se visualiza el Data Frame ya normalizado
df_lesiones.head()

,Id,Victimas,Sexo,Edad_Victima,Participantes,Victima,Acusado,Vehiculo_Victima,Fecha,Semestre,Franja_Horaria,Direccion,Tipo_De_Calle,Altura\Cruce,Comuna,Longitud,Latitud
1,LC-2019-0000053,1,Varon,57,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,1,"Autopista Presidente Héctor J. Cámpora y Roca,...",N/D,N/D,8,-58.443510,-34.669125
4,LC-2019-0000082,4,Varon,45,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
5,LC-2019-0000082,4,Mujer,45,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
6,LC-2019-0000082,4,Varon,27,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
7,LC-2019-0000082,4,Mujer,32,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579

In [143]:
# Se observa el tamaño final del Data Frame
df_lesiones.shape

(21677, 17)

### Se guarda el Data Frame en formato CSV

In [146]:
# Se guarda el DataFrame en formato CSV
df_lesiones.to_csv('lesiones.csv', sep=';', index=False)

In [148]:
# Se convierte y asegura la lectura del archivo
ruta_csv_lesiones = 'E:\\AAADATOS\\Henry\\AA_Data_Science\\MATERIAL_PI_02\\PI_02_Siniestros_Viales\\lesiones.csv' # Se crea una variable con la ruta del archivo CSV
df_lesiones_temp = pd.read_csv(ruta_csv_lesiones, sep=';') # Se lee ese CSV en un nuevo DataFrame temporal para segurar como estan los datos
df_lesiones_temp

,Id,Victimas,Sexo,Edad_Victima,Participantes,Victima,Acusado,Vehiculo_Victima,Fecha,Semestre,Franja_Horaria,Direccion,Tipo_De_Calle,Altura\Cruce,Comuna,Longitud,Latitud
0,LC-2019-0000053,1,Varon,57,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,1,"Autopista Presidente Héctor J. Cámpora y Roca,...",N/D,N/D,8,-58.443510,-34.669125
1,LC-2019-0000082,4,Varon,45,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
2,LC-2019-0000082,4,Mujer,45,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
3,LC-2019-0000082,4,Varon,27,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
4,LC-2019-0000082,4,Mujer,32,AUTO-SD,AUTO,N/D,N/D,2019-01-01,1,4,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",N/D,N/D,3,-58.398225,-34.604579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21672,LC-2021-0652849,1,Varon,29,SD-SD,N/D,N/D,N/D,2021-12-31,2,19,"ALBERDI, JUAN BAUTISTA AV. y GUAMINI",AVENIDA,GUAMINI,9,-58.513477,-34.659714
21673,LC-2021-0652865,2,Varon,28,SD-SD,N/D,N/D,N/D,2021-12-31,2,19,"ALBERDI, JUAN BAUTISTA AV. 4436",AVENIDA,4436.0,9,-58.488327,-34.641753
21674,LC-2021-0652865,2,Varon,52,SD-SD,N/D,N/D,N/D,2021-12-31,2,19,"ALBERDI, JUAN BAUTISTA AV. 4436",AVENIDA,4436.0,9,-58.488327,-34.641753
21675,LC-2021-0652907,1,Varon,23,SD-SD,N/D,N/D,N/D,2021-12-31,2,20,Barrio Padre Carlos Mugica (Villa 31 bis),N/D,N/D,1,-58.382894,-34.583083
21676,LC-2021-0652921,1,Varon,31,MOTO-TRANSPORTE PUBLICO,MOTO,TRANSPORTE PUBLICO,MOTO,2021-12-31,2,22,LINIERS VIRREY y MORENO,CALLE,MORENO,5,-58.414532,-34.614288